---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Asistencia de Docentes | ITESA">
    <h1 class="text-3xl font-bold">Página de Docentes</h1>
    <p>Aquí puedes gestionar la información de los docentes.</p>
</Layout>