---
import Layout from "../layouts/Layout.astro"

import SideBar from "../components/SideBar.astro"
import GestionMain from "../components/GestionMain.astro"
---

<Layout title="Gestión de Tardanzas y Asistencias | ITESA">
    <main class="p-16 min-h-screen flex justify-center">
        <div class="w-full max-w-[1800px] min-h-full bg-[url('images/bg-login.webp')] bg-cover bg-center bg-no-repeat p-4 rounded-4xl shadow-lg flex gap-4 items-stretch">
            <SideBar />
            <GestionMain client:load />
        </div>
</main>
</Layout>