---
    import KuadroAsistencia from "./statistics/KuadroAsistencia.astro"
    import KuadroTardanzas from "./statistics/KuadroTardanzas.astro"
    import KuadroAusencias from "./statistics/KuadroAusencias.astro"
    import KuadroRetiros from "./statistics/KuadroRetiros.astro"

    import { DatePickerStatic } from "../components/ui/date-picker.jsx";
    import { DemoTable } from "../components/ui/demo-table.jsx";
---

<main>
    <div class="bg-[#f7f6f6] rounded-4xl p-8 h-full">
        <h1 class="text-4xl  font-bold mb-4">Pasar asistencias del día de hoy</h1>
        <div class="w-full h-0.5 bg-gray-300"></div>

        <!-- <div class="flex flex-col md:flex-row gap-8">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mt-6">
                <KuadroAsistencia title="Asistencias" amount={667} numberOfStudentsAtITESA={700} />
                <KuadroTardanzas title="Tardanzas" amount={45} />
                <KuadroAusencias title="Ausencias" amount={23} />
                <KuadroRetiros title="Retiros" amount={2} />
            </div>

            <div class="mt-6">
                <DatePickerStatic client:load />
            </div>
        </div>

        <div>
            <DemoTable client:load />
        </div>
    </div> -->
</main>