---
    const { title = "Alertas" } = Astro.props;
    const { amount = 6 } = Astro.props;
---

<div class="bg-linear-to-b from-green-800 to-green-600 rounded-2xl p-6 w-[260px] h-[210px] flex flex-col justify-evenly items-end shadow-md overflow-hidden">
  <p class="text-gray-200 text-2xl">{title}</p>
  <p class="text-gray-200 font-semibold text-5xl leading-none">{amount}</p>
</div>