---
	const { title = "Gestión de Tardanzas y Asistencias | ITESA" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import "tailwindcss";
	@plugin "flyonui";
	
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Poppins', sans-serif;
		/* background-color: #fefefe; */
		/* #f7f6f6 */
	}

	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins-Regular.woff2') format('woff2');
		font-weight: 400;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins-Medium.woff2') format('woff2');
		font-weight: 500;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins-Bold.woff2') format('woff2');
		font-weight: 700;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins-Black.woff2') format('woff2');
		font-weight: 900;
		font-display: swap;
		font-style: normal;
	}
	
	:root {
		--color-primary: #e45858; 
		--color-secondary: #ec6d6d;
		--color-accent: #ee8f22;
		--color-neutral: #3b2d1e;

		--color-base-100: #ffffff;
		--color-base-200: #f9fafb;
		--color-base-300: #d1d5db;
		--color-base-content: #1f2937;

		--font-family: "Poppins", sans-serif;
		--font-size-base: 1rem;
		--font-size-lg: 1.125rem;
		--font-size-sm: 0.875rem;

		--radius-box: 1rem;
		--radius-btn: 0.5rem;
		--shadow-base: 0 2px 4px rgba(0,0,0,0.1);
		--shadow-lg: 0 10px 15px rgba(0,0,0,0.1);
	}

	.glass-input {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(107, 107, 107, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  color: #1a1a1a;
  width: 100%;
  transition: all 0.2s ease;
}

.glass-input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.95);
  background-color: rgba(255, 255, 255, 0.4);
}

::selection {
  background-color: #d3103a4f;
}

img {
	user-select: none;
}

</style>
